*{
    box-sizing: border-box;
 }
 body{
     margin: 0;
     padding: 0;
 }
 .caja1{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
     border: 2px;color: black;
     background-color: aqua;
 }
 .caja2{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
     border: black;
     background-color: yellow;
 }
 .caja3{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
     border: black;
     background-color: blue;
 }
 .caja4{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
     border: red;
     background-color: darkblue;
 }
 .caja5{
     height: 200px;
     border: darkcyan;
     background-color: greenyellow;
 }
 .caja6{
     height: 200px;
     border: grey;
     background-color: indigo;
 }
 .caja7{
     height: 200px;
     border: lightskyblue;
     background-color: orange;
 }
 .caja8{
     height: 200px;
     border: orangered;
     background-color: teal;
 }
 .caja9{
     height: 200px;
     border: turquoise;
     background-color: fuchsia;
 }
 .caja10{
     height: 200px;
     border: hotpink;
     background-color: red;
 }
 .caja11{
     height: 200px;
     border: red;
    background-color: chartreuse;
 }
 .caja12{
     height: 200px;
     border: cornflowerblue;
     background-color: gold;
 }
 .caja13{
     height: 200px;
     border: lawngreen;
     background-color: maroon;
 }
 .caja14{
     height: 200px;
     border: mediumblue;
     background-color: midnightblue;
 }
 .caja15{
     height: 200px;
     border: paleturquoise;
     background-color: palegreen;
 }
 .caja16{
     height: 200px;
     border: palevioletred;
     background-color: skyblue;
 }
.caja17{
    height: 200px;
    border: darkgrey;
    background-color: darkkhaki;
}
.caja18{
    height: 200px;
    border: darkred;
    background-color: darkslategray;
}
.caja19{
    height: 200px;
    border: deepskyblue;
    background-color: firebrick;
}
.caja20{
    height: 200px;
    border: goldenrod;
    background-color: greenyellow;
}
.caja21{
    height: 200px;
    border: indianred;
    background-color: lightgrey;
}
.caja22{
    height: 200px;
    border: lightpink;
    background-color: lightsalmon;
}
.caja23{
    height: 200px;
    border: mediumaquamarine;
    background-color: mediumseagreen;
}
.caja24{
    height: 200px;
    border: navajowhite;
    background-color: palevioletred;
}
.caja25{
    height: 200px;
    border: papayawhip;
    background-color: peru;
}